@media screen and (max-width: 1024px) {
    body {
        background-size: 100% 450px;
    }

    header {
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    html {
        padding: 0;
    }

    body {
        background-size: 100% 400px;
    }

    header {
        height: 200px;
    }
}

@media screen and (max-width: 1024px) {
    #logo-gc {
        padding-left: 0;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-size: 100% 300px;
    }

    header {
        height: 150px;
    }

    section#main {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    article.seance {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #contenu-footer {
        font-size: 0.8em;
    }

    footer img.logo {
        height: 3em;
    }
}

@media screen and (max-width: 400px) {
    #logo-cinetoile {
        margin-left: 3px;
        margin-right: 1px;
    }
    
    #logo-gc {
        margin-left: 1px;
        margin-right: 3px;
    }
    
    #contenu-footer {
        padding-left: 1px;
        padding-right: 1px;
    }
    
    .film .synopsis {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 900px) {
    section#tableFilms {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 750px) {
    section#tableMembres {
        overflow-x: scroll;
    }
}