article {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border: solid 2px;
    border-radius: 10px;
    transition: box-shadow 3s, left 375ms ease-in;
    -webkit-transition: box-shadow 3s, left 375ms ease-in;
    -moz-transition: box-shadow 3s, left 375ms ease-in;
    -o-transition: box-shadow 3s, left 375ms ease-in;
    box-shadow: none;
}

@media screen and (max-width: 900px) {
    article {
        margin-left: 5%;
        margin-right: 5%;
    }
}

article:hover {
    transition:box-shadow 0.5s;
    -webkit-transition:box-shadow 0.5s;
    -moz-transition:box-shadow 0.5s;
    -o-transition:box-shadow 0.5s;
    box-shadow: 0px 0px 20px black;
}

.seance {
    background-image: linear-gradient(white, #f0c79b);
    /*background-image: radial-gradient(circle at 45% 0%, white 70%, #e69a47);  /* Forme ronde voulue par Jonathan */
}

.film .annonce {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.film .date{
    font-weight: bold;
    font-size: 18px;
    color: red;
}

.film .heure{
    font-size: 18px;
    color: red;
}

.film .cycle{
    font-size: 21px;
    color: chocolate;
}

.film .titre{
    font-size: 27px;
    color: blue;
}

.film .realisateur{
    font-size: 25px;
    color:green;
}

.film .commentaire{
    margin-top: 8px;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

img.affiche {
    transition:width 2s,height 2s, box-shadow 2s;
    -webkit-transition:width 2s,height 2s, box-shadow 2s;
    -moz-transition:width 2s,height 2s, box-shadow 2s;
    -o-transition:width 2s,height 2s, box-shadow 2s;
    margin-top: 13px;
    margin-bottom: 8px;
    height: 4cm;
    width: 3cm;
    box-shadow: none;
    cursor: pointer;
}

img.grande_affiche {
    transition:width 2s,height 2s, box-shadow 2s;
    -webkit-transition:width 2s,height 2s, box-shadow 2s;
    -moz-transition:width 2s,height 2s, box-shadow 2s;
    -o-transition:width 2s,height 2s, box-shadow 2s;
    margin-top: 13px;
    margin-bottom: 8px;
    height: 12cm;
    width: 9cm;
    box-shadow: 0px 0px 30px black;
    cursor: pointer;
}

.video {
    text-align: center;
    margin-left: 0px;
    padding-left: 14%;
}

.film .bande-annonce{
    margin-top: 10px;
    margin-bottom: 30px;    
}

.film .video{
    display:none;
}

.film .dispVid{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.film .synopsis{
    margin-top: 8px;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

article.seance:before, article.seance:after {
    content: "";
    display: table;
    clear: both;
}

article.seance div.semi.colonne {
    padding: 10px;
}

.seance h2, .seance h3 {
    font-family: blair-itc-bold;
    /*color: rgb(84, 84, 84);  /* Style voulu par Jonathan */
    color: white;
    text-shadow: black -1px 1px 1px;
}

.seance .colonne .affiche {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: default;
    /*-webkit-box-reflect: below 0 -webkit-gradient(linear,0 0,0 100%, from(transparent),color-stop(.6,transparent), to(rgba(255, 255, 255, 0.3)));*/
}

article.seance div.colonne::after {
    content: '';
    position: absolute; left: 0; top: 100%;
    width: inherit; height: inherit;
    background: -moz-element(#div-element);
    transform: scaleY(-1);
}

article.seance .description {
    font-size: 0.85em;
    text-align: left;
}

article.seance .description p {
    margin: 0;
}

@media screen and (max-width: 720px) {
    article.seance .semi.colonne {
        width: 100%;
        float: none;
    }
}