article {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border: solid 2px;
    background-image: -webkit-linear-gradient(#e7e7e7 0%, #f0c79b 100%);
    border-radius: 10px;
    transition: box-shadow 3s;
    -webkit-transition: box-shadow 3s;
    -moz-transition: box-shadow 3s;
    -o-transition: box-shadow 3s;
    box-shadow: none;
}

@media screen and (max-width: 900px) {
    article {
        margin-left: 5%;
        margin-right: 5%;
    }
}

article:hover {
    transition:box-shadow 0.5s;
    -webkit-transition:box-shadow 0.5s;
    -moz-transition:box-shadow 0.5s;
    -o-transition:box-shadow 0.5s;
    box-shadow: 0px 0px 20px black;
}

.film .annonce {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.film .date{
    font-weight: bold;
    font-size: 18px;
    color: red;
}

.film .heure{
    font-size: 18px;
    color: red;
}

.film .cycle{
    font-size: 21px;
    color: chocolate;
}

.film .titre{
    font-size: 27px;
    color: blue;
}

.film .realisateur{
    font-size: 25px;
    color:green;
}

.film .commentaire{
    margin-top: 8px;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

img.affiche{
    transition:width 2s,height 2s, box-shadow 2s;
    -webkit-transition:width 2s,height 2s, box-shadow 2s;
    -moz-transition:width 2s,height 2s, box-shadow 2s;
    -o-transition:width 2s,height 2s, box-shadow 2s;
    margin-top: 13px;
    margin-bottom: 8px;
    height: 4cm;
    width: 3cm;
    box-shadow: none;
    cursor: pointer;
}

img.grande_affiche {
    transition:width 2s,height 2s, box-shadow 2s;
    -webkit-transition:width 2s,height 2s, box-shadow 2s;
    -moz-transition:width 2s,height 2s, box-shadow 2s;
    -o-transition:width 2s,height 2s, box-shadow 2s;
    margin-top: 13px;
    margin-bottom: 8px;
    height: 12cm;
    width: 9cm;
    box-shadow: 0px 0px 30px black;
    cursor: pointer;
}

.video {
    text-align: center;
    margin-left: 0px;
    padding-left: 14%;
}

.film .bande-annonce{
    margin-top: 10px;
    margin-bottom: 30px;    
}

.film .video{
    display:none;
}

.film .dispVid{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.film .synopsis{
    margin-top: 8px;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
}

article.seance:before, article.seance:after {
    content: "";
    display: table;
    clear: both;
}

 article.seance div.semi.colonne {
    padding: 10px;
 }
 
article.seance .description {
    font-size: 0.85em;
    text-align: left;
}

article.seance .description p {
    margin: 0;
}

@media screen and (max-width: 720px) {
    article.seance .semi.colonne {
        width: 100%;
        float: none;
    }
}