@font-face {
    font-family: blair-itc-light;
    src: url('../Ressources/Polices/Blair_ITC_Light.ttf');
}

@font-face {
    font-family: blair-itc-bold;
    src: url('../Ressources/Polices/Blair_ITC_Bold.ttf');
}

html {
    font-size: 100%;
    background-color: #444444;
    padding: 0 10px 0 10px;
}

@media screen and (max-aspect-ratio: 16/9) {
    html {

    }
}

body {
    min-width: 300px;
    margin: auto;
    background-color: white;
    background-image: url(../Images/Backgrounds/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position-x: center;
    background-position-y: -30px;
    background-origin: content-box;
    font-family: arial;
    font-size: 1em;
    text-align: center;
    z-index: 0;
}

::-moz-selection {
    background-color: #8d9090;
    color: white;
}

::selection {
    background-color: #8d9090;
    color: white;
}

header {
    position: relative;
    width: 100%;
    height: 280px;
    clear: both;
    margin-top: 27px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

footer {
    position: relative;
    width: 100%;
    background-color: white;
    clear: both;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    overflow-y: hidden;
}

section#main {
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.gauche {
    position: relative;
    float: left;
    display: inline-block;
}
.centre {
    position: relative;
    text-align: center;
    display: inline-block;
}
.droite {
    position: relative;
    float: right;
    display: inline-block;
}

#titre {
    display: block;
    line-height: 25px;
    width: 100%;
    top: 0;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 27px;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    z-index: 1;
}

header nav ul {
    position: relative;
    margin: 0;
}

#nav-header {
    white-space: nowrap;
}

nav#nav-header li {
    float: left;
    position: relative;
    overflow-x: hidden;
}

nav#nav-header.four-items li {
    width: 25%;
}

nav#nav-header.six-items li {
    width: 16.6666666%;
}

nav a.button {
    padding: 3px;
    border-width: 0px 0px 1px 0px;
    background-color: #444444;
    font-weight: bold;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {
    /*header a {
        font-size: smaller;
    }*/

    header {
        margin-top: 54px;
    }

    nav#nav-header {
        height: 54px;
    }

    nav#nav-header.four-items li {
        width: 50%;
    }

    nav#nav-header.six-items li {
        width: 33.33333333%;
    }
}


header nav#links-header ul > li {
    width: 50%;
}

header nav#links-nav.semi ul > li {
    width: 50%;
}

header nav#links-nav.two-thirds ul > li {
    width: 25%;
}

header nav li a {
    display:block;
}

header a {
    text-decoration: none;
}
header a {
    color: white;
}

header span.menu {
    border: black double 1px;
    border-collapse: collapse;
    width: 24.5%;
}

footer img.logo {
    display: inline-block;
    /*background-color: #dde0e0;*/
    height: 4.2em;
    /*box-shadow: 0px 0px 15px black;*/
    padding-left: 3px;
    padding-right: 3px;
}
@media screen and (max-width: 350px) {
    footer img.logo {
        padding-left: 0;
        padding-right: 0;
    }
}
footer span.texte {
    height: 100%;
}

a {
    color: black;
}

table a {
    text-decoration: none;

}
table a:hover {
    text-decoration: underline;
    cursor: pointer;
}
table a:visited {
    color: black;
}

#logo-cinetoile {
    float: left;
    margin-left: 10%;
    margin-right: 5px;
}

#logo-gc {
    float: right;
    margin-left: 5px;
    margin-right: 10%;
    padding-left: 78px; /** pour avoir #contenu-footer centré **/
}

#logo-inp {
    float: right;
}

#contenu-footer {
    display: inline-block;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.4em;
    font-size: 0.95em;
    color: black;
}

#contenu-footer > * {
    margin-top: 0;
    margin-bottom: 0;
}

#lightbox {
    position: fixed;
    display: none;
    z-index: 999;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(180,180,180,0.8);
    font-size: 1.15em;
}

#lightbox.visible {
    display: block;
}

#lightbox > * {
    position: absolute;
}

#lightbox > img {
    height: 80%;
    top: 10%;
}

.lightbox-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #eee;
    border: 2px solid #666;
    padding: 10px;
}

.lightbox-container > * , .lightbox-container p {
    width: 100%;
    height: 100%;
    margin: 0;
}

#lightbox .lightbox-top-bar {
    height: 60px;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    z-index: 1;
}

.close {
    background-image: url('../Images/Icones/croix.png');
    cursor: pointer;
}

#lightbox .close {
    position: absolute;
    right: 0;
    height: 60px;
    width: 60px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.texte-cinetoile {
    color: green;
}

.texte-prenom {
    color: red;
}

table {
    width: 100%;
    max-width: 100%;
    border-style: none;
    border-spacing: 1px;
    border-collapse: collapse;
    overflow: auto;
}

caption {
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    color: darkred;
}

form table.table_membre  {
    width: 95%;
    right: 5%;
}

th, td {
    /*border-style: groove;*/
    border-width: 1px;
    padding: 1px;
}
th {
    border-bottom-width: 2px;
    font-size:small;
}
th:first-child {
    border-top: none;
    border-left: none;
}
td {
    border-top-width: 1px;
    font-size: small;
}
tr {
    border-bottom: groove;
}
tr:hover {
    cursor: default;
    /*background-color:blanchedalmond;*/
}
td:hover {
    /*background-color:orangered;*/
    font-weight: bold;
}

table div.buttons {
    text-align: center;
}

form.formulaire {
    position: relative;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: left;
}

form fieldset {
    text-align: center;
}

form #boutons {
    text-align: center;
}

form :required {
    border-color: orangered;
}

form :required:focus {
    border-color: red;
}

table form {
    position: relative;
    left: 0%;
    right: 0%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
}

h2 {
    text-align: center;
}

.options {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.05em;
}

td.lien {
    text-decoration: underline;
    cursor: pointer;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.buttons {
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    border-style: none;
}

table.buttons th {
    width:50%;
    border-style: none;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

tr:hover .invisible, article:hover .invisible {
    visibility: visible;
}

table .invisible > form {
    display: inline-block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.social {
    width: 100%;
    bottom: 0;
    clear: both;
    padding-top: 15px;
    overflow: hidden;
}

.colonne {
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.semi {
    width: 50%;
}

.button {
    text-decoration: none;
    border-style: groove;
    border-width: 2px;
    border-color: white;
    padding: 5px;
    background-color: #8d9090;
    box-shadow: 3px 3px 3px black;
}

.button:hover {
    background-color: #b2b9b9;
    cursor: pointer;
}

.arrow {
    position: relative;
    font-family: blair-itc-light;
    width: 10em;
    max-width: 45%;
    background-image: linear-gradient(white 58%, black);
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.arrow-left {
    float: left;
    background-image: url('../Images/Icones/gauche.png'), linear-gradient(white 58%, black);
    background-size: 10px auto;
    background-position: left center;
    padding-left: 11px;
    /*background-image: url(../Images/Icones/prec.png);*/
}

.arrow-right {
    float: right;
    background-image: url('../Images/Icones/droite.png'), linear-gradient(white 58%, black);
    background-size: 10px auto;
    background-position: right center;
    padding-right: 11px;
    /*background-image: url(../Images/Icones/suiv.png);*/
}

.page {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page > * {
    position: relative;
}

.stage-left {
    position: absolute;
    width: 100%;
    left : -115%;
}

.stage-right {
    position: absolute;
    width: 100%;
    left : 115%;
}

.stage-center {
    position: relative;
    left : 0;
}

dl {
    text-align: left;
    line-height: 2em;
}

dl * {
    border-bottom: groove 2px;
}

dt {
    clear: left;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

dd {
    clear: right;
    padding-left: 20%;
    padding-right: 5px;
    min-height: 2em;
}

.message {
    background-color: #444444;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 15%;
    width: 70%;
    padding: 4px;
    box-sizing: border-box;
    z-index: 1;
}

.text-left {
    text-align: left;
}

.white-spaces {
    white-space: pre-line;
}

input[type=submit], input[type=button], input[type=reset], button {
    background-color: rgb(210,210,210);
    width: 80px;
    border-style: solid;
    border-width: 2px;
    box-shadow: -1px 1px 1px black;
    border-radius: 5px;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover {
    cursor: pointer;
    border-color: #444444;
    border-radius: 0;
}

input[value="Oui"], input[value="Non"] {
    width: 38px;
    margin-left: 1px;
    margin-right: 1px;
}

input[value="Oui"] {
    background-color: green;
}

input[value="Non"] {
    background-color: red;
}

.yes, .yes:hover {
    background-color: green;
}

.no, .no:hover {
    background-color: red;
}

textarea {
    width: 90%;
    resize: none;
}

.big-button {
    width: 16em;
}

@media screen and (min-width: 720px) {
    textarea {
        width: 60%;
    }
}

.liste-admin {
    padding-top: 60px;
    padding-bottom: 90px;
    font-size: 1.2em;
}

.liste-admin li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.presentation h2 {
    margin-top: 0;
    color: #56565e;
    font-family: blair-itc-bold;
}

.plan {
    max-width: 100%;
}

.fb-follow {
    display: inline-block;
    height: 1.5em;
    background-image: url('../Images/Logos/fb.png');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 2.5em;
    padding-right: 0.5em;
    text-decoration: none;
    border-style: groove;
    border-color: white;
    border-width: 4px;
    border-radius: 8px;
}

#loginExists {
    position: absolute;
    margin-left: 20px;
}

#loginExists.exists {
    color: red;
}

#loginExists.available {
    color: green;
}