html {
    background-color:steelblue;
}

body {
    min-width: 300px;
    margin: auto;
    padding: 0 10px 0 10px;
    background-color: #444444;
    font-family: arial;
    text-align: center;
    z-index: 0;
}

header {
    position: relative;
    width: 100%;
    height: 500px;
    /*background-color: #444444;*/
    background-image: url(/Cinetoile/Images/Ressources/bg-header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-bottom: 10px;*/
    text-align: center;
    color: white;
}

footer {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #444444;
    clear: both;
    padding-top: 20px;
    padding-bottom: 10px;
    /*margin-top: 10px;*/
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    color: white;
}

section#main {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%; 
    text-align: center;   
}

@media screen and (max-width: 900px) {
    section#main {
        padding-left: 5%;
        padding-right: 5%;
    }
} 

.gauche {
    position: relative;
    float: left;
    display: inline-block;
}
.centre {
    position: relative;
    text-align: center;
    display: inline-block;
}
.droite {
    position: relative;
    float: right;
    display: inline-block;
}

#titre {
    display: block;
    line-height: 25px;
    width: 100%;
    top: 0;
}

header nav {
    position: relative;
    left: 0;
    height: 26px;
    padding-left: 3%;
    padding-right: 3%;
}

header nav ul {
    position: relative;
    margin: 0;
    clear: both;
}

#links-header {
    top: 0;
}
#links-nav {
    bottom: 0;
    margin-top: 425px;
}

header nav li {
    position: relative;
}    

header nav#links-nav ul > li {
    float: left;
    margin-left: 0.1%;
    margin-right: 0.1%;
}

@media screen and (max-width: 350px) {
    header nav {
        padding-left: 1%;
        padding-right: 1%;
    }
    
    header a {
        font-size: smaller;
    }
}

@media screen and (min-width: 470px) {
    header nav#links-nav ul > li {
        width: 24.8%;
    }
}

header nav li a {
    display:block;
}

header a {
    text-decoration: none;
}
header a, footer a {
    color: white;
}

header span.menu {
    border: black double 1px;
    border-collapse: collapse;
    width: 24.5%;
}

footer img {
    background-color: #dde0e0;
    height:50px;
}
footer span.texte {
    height:100%;
}

a {
    color:black;
}

table a {
    text-decoration: none;
    
}
table a:hover {
    text-decoration: underline;
}
table a:visited {
    color:black;
}

img.logo {
    box-shadow: 5px 5px 15px black;
}

.logos {
    display: inline-block;
    float : left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

ul.logos > li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#logo-cinetoile {
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

#logo-gc {
    display: inline-block;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 64px; /** pour avoir #contenu-footer centré **/
}

#contenu-footer {
    display: inline-block;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#lightbox {
    position: fixed;
    display: none;
    z-index: 999;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(180,180,180,0.8);
    font-size: 18px;
}

#lightbox.visible {
    display: block;
}

#lightbox > * {
    position: relative;
    padding: 10px;
    background-color:#eee;
    border: 2px solid #666;
}

#lightbox > img {
    height: 80%;
    top: 10%;
}

#lightbox > div {
    width: 100%;
    top: 5%;
}

#lightbox > div.conteneur-lightbox {
    width: 50%;
    top: 25%;
    margin-left: 25%;
    margin-right: 25%;
}

#lightbox > div.bande-annonce-lightbox {
    width: 100%;
    top: 15%;
}

.texte-cinetoile {
    color: green;
}

.texte-prenom {
    color: red;
}
        
table {
    width: 100%;
    max-width: 100%;
    border-style:none;
    border-spacing: 1px;
    border-collapse:collapse;
    overflow:auto;
}

caption {
    margin-bottom: 10px;
    font-size:large;
    font-weight: bold;
    color: darkred;
}

form table.table_membre  {
    width: 95%;
    right: 5%;
}

th, td {
    /*border-style: groove;*/
    border-width: 1px;
    padding: 1px;
}
th {
    border-bottom-width: 2px;
    font-size:small;
}
th:first-child {
    border-top: none;
    border-left: none;
}
td {
    border-top-width: 1px;
    font-size:small;
}
tr {
    border-bottom: groove;
}
tr:hover {
    cursor: default;
    /*background-color:blanchedalmond;*/
}
td:hover {
    /*background-color:orangered;*/
    font-weight: bold;
}

table div.buttons {
    text-align: center;
}

form.formulaire {
    position: relative;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: left;
}

form fieldset {
    text-align: center;
}

form #boutons {
    text-align: center;
}

form :required {
    border-color:orangered;
}

form :required:focus {
    border-color: red;
}

table form {
    position: relative;
    left: 0%;
    right: 0%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
}

h2 {
    text-align: center;
}

div.options {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

div.options div {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

td.lien {
    text-decoration: underline;
    cursor: pointer;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.buttons {
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    border-style: none;
}

table.buttons th {
    width:50%;
    border-style: none;
}

.hidden {
    visibility: hidden;
}
tr:hover .hidden, article:hover .hidden {
    visibility: visible;
}

.hidden > form {
    display: inline;
}

div.inline {
    display: inline;
}

.social {
    width: 100%;
    bottom: 0;
    clear: both;
    padding-top: 15px;
}

.colonne {
    float: left;
    box-sizing: border-box;
}

.semi {
    width: 50%;
}

.button {
    border-style: groove;
    border-width: 2px;
    padding: 5px;
    background-color: #8d9090;
    box-shadow: 3px 3px 3px black;
}

.button:hover {
    text-decoration: none;
    background-color: #b2b9b9;
}

.arrow-left {
    position: relative;
    float: left;
    height: 50px;
    width: 130px;
    background-image: url(/Cinetoile/Images/Ressources/prec.png);
    background-repeat: no-repeat;
}

.arrow-right {
    position: relative;
    float: right;
    height: 50px;
    width: 130px;
    background-image: url(/Cinetoile/Images/Ressources/suiv.png);
    background-repeat: no-repeat;
}

.page {
    /*float: left;*/
}

.transition {
    transition-duration: 375ms;
    -webkit-transition-duration: 375ms;
    -moz-transition-duration: 375ms;
    -o-transition-duration: 375ms;
}

.page-left {
    position : relative;
    right : 100%;
    display: none;
}

.page-right {
    position : relative;
    right : -100%;
    display: none;
}

.page-center {
    right : 0;
    display: block;
}